<mat-vertical-stepper (resized)="onResized($event)" linear>
  <mat-step [stepControl]="surveyInitiator">
    <ng-template matStepLabel>Start Survey</ng-template>

    <form [formGroup]="surveyInitiator" id="surveyInitiator">

      <!-- Survey name formfield -->
      <mat-form-field id="surveyNameFormField">
        <input matInput placeholder="Survey Name" formControlName="name" required>
      </mat-form-field>

      <!-- Survey description formfield -->
      <mat-form-field id="surveyDescriptionFormField">
        <textarea matInput placeholder="Survey Description" formControlName="description"></textarea>
      </mat-form-field>
      <div id=row1>
        <mat-card id="counters">
          <!-- Number of questions formfield -->
          <div id="questionsCountFormField">
            <span>Questions Count</span>
            <mat-form-field>
              <button mat-icon-button matPrefix (click)="updateQuestionsCount('remove')" matTooltip="Decrease by 1"
                matTooltipPosition="left">
                <mat-icon>remove</mat-icon>
              </button>
              <input matInput type="number" formControlName="questionsCount" required min="1" size="2">
              <button mat-icon-button matSuffix (click)="updateQuestionsCount('add')" matTooltip="Increase by 1"
                matTooltipPosition="right">
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <!-- Response goal formfield -->
          <div id="responseGoalFormField">
            <span>Survey Response Goal</span>
            <mat-form-field>
              <button mat-icon-button matPrefix (click)="updateResponseGoal('remove')" matTooltip="Decrease by 25"
                matTooltipPosition="left">
                <mat-icon>remove</mat-icon>
              </button>
              <input matInput type="number" formControlName="responseGoal" required min="1">
              <button mat-icon-button matSuffix (click)="updateResponseGoal('add')" matTooltip="Increase by 25"
                matTooltipPosition="right">
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>

          </div>
        </mat-card>

        <mat-card class="dateAndTimePickers">
          <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="Survey Start Date" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Start Time" [ngxTimepicker]="startTimepicker">
            <ngx-material-timepicker #startTimepicker></ngx-material-timepicker>
          </mat-form-field>
        </mat-card>

        <mat-card class="dateAndTimePickers">
          <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="Survey End Date" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate></mat-datepicker>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="End Time" [ngxTimepicker]="endTimepicker" disableClick>
            <ngx-material-timepicker-toggle matSuffix [for]="endTimepicker">
              <mat-icon>access_time</mat-icon>
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #endTimepicker></ngx-material-timepicker>
          </mat-form-field>
        </mat-card>
        <mat-card id="autoGeneratedFormFields">

          <mat-form-field>
            <input matInput [matDatepicker]="created" placeholder="Survey Created" formControlName="created">
            <span matSuffix>
              <mat-datepicker-toggle [for]="created"></mat-datepicker-toggle>
              <button mat-icon-button (click)="surveyInitiator.get('created').enable()"
                matTooltip="Modify the creation date" matTooltipPosition="right"
                *ngIf="surveyInitiator.get('created').disabled">
                <mat-icon>mode_edit</mat-icon>
              </button>
            </span>
            <mat-datepicker #created></mat-datepicker>
          </mat-form-field>
          <mat-form-field id="trunkIDFormField">
            <mat-label>Trunk ID</mat-label>
            <mat-select formControlName="trunkID">
              <mat-option value="None">None</mat-option>
              <mat-option value="randomTrunkID"> Some Random Trunk ID</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card>
      </div>

      <div id="row2">

        <mat-card id="switches">

          <!-- Survey skip logic toggle -->
          <div id="surveySkipLogicFormField">
            <span>Survey Skip Logic</span>
            <mat-slide-toggle formControlName="surveySkipLogic"></mat-slide-toggle>
          </div>

          <!-- amd toggle -->
          <div id="amdFormField">
            <span>AMD</span>
            <mat-slide-toggle formControlName="amd"></mat-slide-toggle>
          </div>
        </mat-card>

        <mat-card id="timeoutSlider__wrapper" class="slider">
          <div id="timeoutSlider">
            <div>Timeout: {{formatTimeout(surveyInitiator.get('timeout').value)}}</div>
            <div class="slider">
              <span>None</span>
              <mat-slider max="120" min="0" step="1" tickInterval="15" [displayWith]="timeoutSliderLabel"
                formControlName="timeout" thumbLabel (input)="surveyInitiator.get('timeout').setValue($event.value)">
              </mat-slider>
              <span>2mins</span>
            </div>
          </div>
        </mat-card>

        <mat-card id="channelsSlider__wrapper" class="slider">
          <div id="channelsSlider">
            <div>Channels: {{surveyInitiator.get('channels').value}}</div>
            <div class="slider">
              <span>1</span>
              <mat-slider max="20" min="1" step="1" tickInterval="1" formControlName="channels" thumbLabel
                (input)="surveyInitiator.get('channels').setValue($event.value)" value="1"></mat-slider>
              <span>20</span>
            </div>
          </div>
        </mat-card>
      </div>

      <mat-card id="volumeSlider__wrapper" class="slider">
        <div id="volumeSlider">
          <div>Volume: {{surveyInitiator.get('volume').value || 0}}%</div>
          <div class="slider">
            <span>1%</span>
            <mat-slider max="200" min="0" step="1" tickInterval="1" formControlName="volume" thumbLabel
              (input)="surveyInitiator.get('volume').setValue($event.value)">
            </mat-slider>
            <span>200%</span>
          </div>
        </div>
      </mat-card>

      <div id="actionButtons">
        <button mat-button id="clearButton">Clear</button>
        <button mat-raised-button matStepperNext color="accent"
          id="generateButton">Generate{{surveyInitiator.get('name').value ? ' ' + surveyInitiator.get('name').value : ''}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step *ngIf="surveyInitiator.dirty" [stepControl]="basicDetails">

    <!-- Basic Details form -->
    <form [formGroup]="basicDetails" id="basicDetails">
      <ng-template matStepLabel>Basic Details</ng-template>
      <div id="formFields">

        <mat-form-field>
          <input matInput placeholder="Survey ID" formControlName="surveyID" required>
          <button mat-icon-button matSuffix (click)="basicDetails.get('surveyID').enable()"
            matTooltip="Modify the Survey ID" matTooltipPosition="right" *ngIf="basicDetails.get('surveyID').disabled">
            <mat-icon>mode_edit</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Response Tracking Question</mat-label>
          <mat-select formControlName="responseTrackingQuestion">
            <mat-option value="None">None</mat-option>
            <mat-option *ngFor="let questions of questionFormsGroup.controls.questionFormsArray.controls; let i = index"
              [value]="i+1">
              Question {{i + 1}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Intro Audio File</mat-label>
          <mat-select formControlName="introAudioFile" required>
            <mat-option *ngFor="let audio of audios" [value]="audio">
              {{audio.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Hangup Audio File</mat-label>
          <mat-select formControlName="hangupAudioFile">
            <mat-option value="None">None</mat-option>
            <mat-option *ngFor="let audio of audios" [value]="audio">
              {{audio.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div id="audioDragNDrop">
        <ngx-dropzone [accept]="'audio/*'" (filesAdded)="onUploadSuccess($event)"></ngx-dropzone>

        <div id="audioFiles">
          <div class="audioFile" *ngFor="let audio of audios">
            <mat-basic-audio-player [audioUrl]="audio.url" [title]="audio.name" displayTitle="true">
            </mat-basic-audio-player>
            <button mat-fab class="removeAudio" color="warn" (click)="removeAudioFile(audio.name)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </form>


    <div id="basicDetailsActionButtons">
      <button mat-button matStepperPrevious>Back to Start Survey</button>
      <button mat-raised-button matStepperNext color="accent">Edit the questions</button>
    </div>
  </mat-step>
  <mat-step *ngIf="surveyInitiator.get('questionsCount').value as questionsCount">
    <ng-template matStepLabel>
      Edit the {{questionsCount != 1 ? questionsCount + ' ': ''}}question{{questionsCount != 1? 's' : ''}}
    </ng-template>
    <form [formGroup]="questionFormsGroup">
      <mat-horizontal-stepper formArrayName="questionFormsArray" labelPosition="bottom">
        <mat-step *ngFor="let questionForm of questionFormsGroup.controls.questionFormsArray.controls; let i = index">
          <ng-template matStepLabel>Question {{i + 1}}</ng-template>

          <form [formGroupName]="i" class="questionForm">
            <mat-form-field class="prompt">
              <input matInput placeholder="Question(Prompt)" formControlName="prompt" required>
            </mat-form-field>

            <mat-form-field class="label">
              <input matInput placeholder="Question label (e.g. '3-1')" formControlName="label" required>
            </mat-form-field>

            <mat-form-field class="audio">
              <mat-label>Question Audio File</mat-label>
              <mat-select formControlName="questionAudioFile">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let audio of audios" [value]="audio">
                  {{audio.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div formArrayName="responses">

              <mat-card *ngFor="let tile of keys; let k = index">
                <form [formGroupName]="k">
                  <div class="dmtfSwitch">
                    <span>DMTF {{tile}}</span>
                    <mat-slide-toggle formControlName="dmtf" (change)="toggleDMTF($event.checked, i, k)">
                    </mat-slide-toggle>
                  </div>
                  <mat-form-field class="response" *ngIf="responseStatus(i, k)">
                    <input matInput placeholder="Response" formControlName="response" required>
                  </mat-form-field>
              
                  <mat-form-field class="skipQuestion" *ngIf="skipQuestionStatus(i, k)">
                    <mat-label>Skip Logic Question</mat-label>
                    <mat-select formControlName="skipQuestion">
                      <mat-option>None</mat-option>
                      <mat-option
                        *ngFor="let questionForm of questionFormsGroup.controls.questionFormsArray.controls; let j = index"
                        value="{{j}}" disabled="{{i == j}}">
                        Question {{j + 1}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </form>
              </mat-card>
            </div>
          </form>
          <div id="questionSwitchers">
            <button mat-button matStepperPrevious *ngIf="i" type="button">Previous Question</button>
            <button mat-button matStepperNext
              *ngIf="i != questionFormsGroup.controls.questionFormsArray.controls.length - 1" type="button">Next
              Question</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
    <div id="questionFormActionButtons">
      <button mat-button matStepperPrevious class="back" type="button">Go back to Basic Details</button>
      <button mat-raised-button matStepperNext (click)="generatePreview()" id="previewButton" color="accent"
        type="button">Preview
        and Submit</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Preview and Submit</ng-template>
    <div id="preview" *ngIf="surveyData" class="mat-typography">
      <h1>Survey Details</h1>
      <mat-card>
        <div>
          <span class="fieldName">Survey Short Name</span>
          <span>{{surveyData.name}}</span>
        </div>
        <div>
          <span class="fieldName">Survey Description</span>
          <span>{{surveyData.description}}</span>
        </div>
        <div>
          <span class="fieldName">Date Created</span>
          <span>{{surveyData.created}}</span>
        </div>
        <div>
          <span class="fieldName">Survey ID</span>
          <span>{{surveyData.surveyID}}</span>
        </div>
        <div>
          <span class="fieldName">Trunk ID</span>
          <span>{{surveyData.trunkID}}</span>
        </div>
      </mat-card>

      <mat-card>
        <div>
          <span class="fieldName">Number of Questions</span>
          <span>{{surveyData.questionsCount}}</span>
        </div>
        <div>
          <span class="fieldName">Survey Response Goal</span>
          <span>{{surveyData.responseGoal}}</span>
        </div>
        <div>
          <span class="fieldName">Use Survey Skip Logic?</span>
          <span>{{surveyData.surveySkipLogic}}</span>
        </div>
        <div>
          <span class="fieldName">Enable AMD?</span>
          <span>{{surveyData.amd}}</span>
        </div>
      </mat-card>

      <mat-card>
        <div>
          <span class="fieldName">Survey Start Time and Date</span>
          <span>{{surveyData.startDate}} at {{surveyData.startTime}}</span>
        </div>
        <div>
          <span class="fieldName">Survey End Time and Date</span>
          <span>{{surveyData.endDate}} at {{surveyData.endTime}}</span>
        </div>
      </mat-card>

      <mat-card>
        <div>
          <span class="fieldName">Timeout</span>
          <span>{{surveyData.timeout}}</span>
        </div>

        <div>
          <span class="fieldName">Channels</span>
          <span>{{surveyData.channels}}</span>
        </div>

        <div>
          <span class="fieldName">Volume</span>
          <span>{{surveyData.volume}}</span>
        </div>
      </mat-card>

      <mat-card>
        <div>
          <span class="fieldName">Response Tracking Questions</span>
          <span>{{surveyData.responseTrackingQuestion}}</span>
        </div>
        <div *ngIf="surveyData.introAudioFile">
          <span class="fieldName">Intro Audio File</span>
          <span>{{surveyData.introAudioFile.name}}</span>
        </div>

        <div *ngIf="surveyData.hangupAudioFile">
          <span class="fieldName">Hangup Audio File</span>
          <span>{{surveyData.hangupAudioFile.name}}</span>
        </div>
      </mat-card>

      <ng-template [ngIf]="surveyData.questions && surveyData.questions.length">
        <h1>{{surveyData.questions.length}} Question{{surveyData.questions.length > 1 ? 's' : ''}}</h1>
        <mat-card *ngFor="let question of surveyData.questions; let i = index">
          <mat-list>
            <h2 mat-subheader>Question {{i+1}}</h2>
            <mat-list-item *ngFor="let response of question.responses; let k = index">
              <h1 mat-line>DMTF {{parseKey(k)}}</h1>
              <h4 mat-line>Response: {{response.response}}</h4>
              <h4 mat-line *ngIf="response.skipQuestion">Skip Question: Question {{response.skipQuestion + 1}}</h4>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </ng-template>
    </div>

    <div id="previewActionButtons">
      <button mat-button matStepperPrevious class="back">Go back to Editing Questions</button>
      <button mat-raised-button matStepperNext id="previewButton" color="primary">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>