<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><b>Portal Survey</b> Prototype</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <mat-slider (input)="width = $event.value" min="1" max="100" value="80"></mat-slider>
    </mat-toolbar-row>

</mat-toolbar>
<survey-generator [style.width.%]="width"></survey-generator>